---
import { SEO } from "astro-seo";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import "@fontsource-variable/inter/index.css";
import { configs } from "site";
interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title
  ? `${title} | ${configs.title}`
  : configs.title;
---

<!doctype html>
<html lang="it-it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description={configs.description}
      canonical={canonicalURL}
    />
  </head>
  <body>
    <Navbar />
    <main class="min-h-screen pb-8"><slot /></main>
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
